.button {
	border: none;
	width: 90px;
	height: 30px;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	cursor: pointer;
}

.button:disabled {
	background-color: ghostwhite;
	cursor: not-allowed;
}

.button:hover {
	background-color: ghostwhite;
}