.drawerMenu {
	position: absolute;
	width: 100vw;
	z-index: 10;
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
}

.header {
	padding: 20px;
}

.ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.sm {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 90px;
}

.button {
	border: none;
	background-color: #ffffff;
	height: 24px;
	padding: 0;
}

.lg {
	display: none
}

@media screen and (min-width: 700px) {
	.header {
		padding: 20px 40px;
	}

	.sm {
		display: none;
	}

	.lg {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.icon {
		padding-top: 5px;
		cursor: pointer;
	}

	.navigation {
		display: flex;
		width: 75vw;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.link {
		text-decoration: none;
		color: #000;
		font-size: 20px;
		font-weight: 400;
	}

	.logo {
		width: 120px;
		height: 34px;
	}

	.button {
		height: 33px;
		padding-top: 5px;
		cursor: pointer;
	}
}

