.container {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

@media screen and (min-width: 600px) {
	.container {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		max-width: 1900px;
	}
	
	.informations {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 60vw;
		height: 500px;
		padding: 30px 50px 0;
	}
}

@media screen and (min-width: 2000px) {
	.container {
		width: 1900px;
		margin: 20px auto;
	}
}